<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS and JS copied from A+ -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <link href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css" rel="stylesheet" crossorigin="anonymous">
  <link href="https://use.fontawesome.com/releases/v5.3.1/css/regular.css" rel="stylesheet" crossorigin="anonymous">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/github.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>

  <link rel="stylesheet" href="{{ "/assets/imported/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/imported/css/submission.css" | prepend: site.baseurl }}">

  <script src="{{ "/assets/imported/js/polyfill-find.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/imported/js/aplus.js" | prepend: site.baseurl }}"></script>

  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>

  <!-- DS template -->
  <link rel="stylesheet" href="{{ "/assets/css/icon-preview.css" | prepend: site.baseurl }}">

  <title>Component Preview</title>
</head>
<body>
  <main class="container-fluid">
      {{ content }}
  </main>

  <!-- Optional Bootstrap JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" crossorigin="anonymous"></script>

  <!-- Necessary for resizing patterns iframe, if pattern has big height -->
  <script src="{{ "/assets/js/vendor/iframeResizer.contentWindow.min.js" | prepend: site.baseurl }}"></script>

</body>
</html>

